{% extends 'base.html.twig' %}

{% block title %}
    Movies website
{% endblock %}

{% block body %}
    {{ title }}


    {% for movie in movies %}
    
    <p>{{ movie}}</p>
{% endfor %}


{% endblock %}

